main {
  padding: 1rem;
  grid-template-rows: auto auto auto;
}

.search-bar {
  margin-bottom: 2rem;
  grid-row: 1 / span 1;
}

#searchInput {
  padding: 0.5rem;
  width: 250px;
}

#searchBtn {
  padding: 0.5rem 1rem;
  margin-left: 0.5rem;
  cursor: pointer;
}

main p
{
  grid-row: 2 / span 1;
}

.search-results {
  display: grid;
  grid-row: 3 / span 1;
  grid-template-columns: repeat(3, minmax(350px, 1fr));
  gap: 1rem;
}

.movie-card {
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  padding: 0.5rem;
  gap: 1rem;                  /* space between image and content */
  color: black;
  display: grid;
  grid-template-columns: 150px auto;
  grid-template-rows: auto auto;
  justify-content: left;
}

.movie-card img 
{
  width: 150px;
  border-radius: 4px;
  flex-shrink: 0;             /* keep image fixed size */
  grid-column: 1 / span 1;
  grid-row: 1 / span 2;
}

.movie-info
{
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
}

.movie-info p {
  margin: 0.2rem 0;
  font-size: 12px;
}

.watchlist-stuff
{
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
}

button.add-btn {
  background: #ffcc00;
  border: none;
  padding: 0rem 0.2rem;
  cursor: pointer;
  border-radius: 30px;
  margin-top: 0.5rem;
  margin-right: 0.4rem;
  font-size: 14px;
}